 <!--BLOG BOUTTON-->
        <div class="presentation">
            <img src="images/toque.png" alt="temple grec">
            <h1>Ken Blog</h1>
            <p id="texte"></p>
            <a href="./informations.html">En savoir plus</a>
            <div id="particles-js"></div>
        </div>