 <!--COLEUS BACKGROUND-->
        <div class="contact">
            <h3>Jardin<br>Des<br>Coléus!</h3>
            <a href="./contact.html" class="go-contact">
                <img src="images/chevron-droit.svg" alt="chevron droit">
            </a>
        </div>