 <!--  RECETTES  -->
        <div class="choix">
            <h2 class="titre-choix">
                Bouquin du Gonard 📖
            </h2>
            <p>Goutez à l'exception.</p>
            <a href="./portfolio.html" class="go-galerie">Découvrez nos recettes.</a>

            <div class="cont-medias">
                <div class="media">
                    <a href="https://www.instagram.com/ken_le_toke/?hl=fr">
                        <img src="images/instagram.svg">
                    </a>
                </div>
                <div class="media">
                    <a href="#">
                        <img src="images/twitter.svg">
                    </a>
                </div>
                <div class="media">
                    <a href="https://www.facebook.com/keni.fifou">
                        <img src="images/facebook.svg">
                    </a>
                </div>
            </div>
        </div>