<!--SLIDER-->
        <div class="slider">
            <div class="container-slides">
                <img src="images/pic2.jpeg" class="active">
                <img src="images/pic1.jpeg">
                <img src="images/pic4.jpeg">
            </div>
            <div class="cont-btn">
                <div class="btn-nav left">
                    <img src="images/chevron-gauche.svg" alt="chevron gauche">
                </div>
                <div class="btn-nav right">
                    <img src="images/chevron-droit.svg" alt="chevron droit">
                </div>
            </div>
        </div>